<nav style="text-align: center; margin-top: -2rem; padding-bottom: 1rem; display: flex; flex-wrap: wrap; justify-content: center; gap: 1.5rem;">
    <a href="/lfrf/#home" style="font-family: 'Barlow'; font-weight: 700;">Home</a>
    <a href="/lfrf/#about" style="font-family: 'Barlow'; font-weight: 700;">About</a>
    <a href="/lfrf/#donate" style="font-family: 'Barlow'; font-weight: 700;">Donate</a>
    <a href="/lfrf/#contact" style="font-family: 'Barlow'; font-weight: 700;">Contact</a>
  </nav>
  